# Frontend (Angular)
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/
Frontend/tmp/
Frontend/out-tsc/
Frontend/bazel-out/

# Backend (Python)
Backend/.venv/
Backend/__pycache__/
Backend/*.pyc
Backend/*.db
Backend/instance/
Backend/.pytest_cache/
Backend/.env

# IDEs
.vscode/
.idea/
*.sublime-workspace
.history/

# System
.DS_Store
Thumbs.db
